/* This file contains all our variables  */

// Variables
	/* are placeholders for storing information that you want to reuse throughout your styles.
	You can */

$primary: #F7EF99;
$primary-dark: #F7B32B;
$secondary: #03012C;
$secondary-dark: #02001E;

$background: #233D4D;
